.main-container{
    max-width: 100%;
    margin-left: 30.5vw;
}

.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 8px;
    border-radius: 8px;
    background-color: #101010;
}

.header__navigation .navigation{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.header__login,
.arrows-buttons,
.arrow-left, 
.arrow-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.header__search{
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #242424;
    border: 2px solid #fff;
    padding: 12px;
    border-radius: 5rem;
    cursor: text;
}

.header__search img {
    width: 16px;
    margin-right: .7rem
}

.header__search input{
    background-color: transparent;
    border: none;
    color: #fff;
}

.header__search input:focus{
    outline: none;
}

.header__login .subscribe{
    margin-right: 1.25rem;
    background-color: transparent;
    color: #b3b3b3;
}

.header__login .subscribe:hover{
    color: #fff;
}

.header__login .subscribe:hover,
.header__login .login:hover{
    transform: scale(1.05);
}

.header__login .login{
    padding: 16px 32px;
    justify-content: center;
    font-weight: bold;
    border-radius: 5rem;
}


